GROQ_API_KEY=
EXERCISE_WEB_URLS=https://raw.githubusercontent.com/yuhonas/free-exercise-db/main/dist/exercises.json

# LangSmith
LANGCHAIN_TRACING_V2=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=instructor-fitness